* {
  font-family: "century gothic", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.site-wrapper {
  overflow-x: hidden;
}

img {
  pointer-events: none;
}

.div1,
.div2,
.div3,
.div4 {
  padding: 1em;
}
.div1 {
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(28, 68, 155, 0.73)), url("images/MEsvg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  height: 100vh;
  scroll-snap-type: mandatory;
}
.div2 {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  width: 100%;
  min-height: 80vh;
  scroll-snap-type: mandatory;
  padding-top: 5vh;
}

.div2 .pageHL,
.div5 .pageHL {
  justify-self: flex-start;
}
.div2 .contain,
.div1 .contain,
.div5 .contain {
  justify-self: center;
}

.div3 {
  background-color: white;
  width: 100%;
  min-height: 100vh;
  scroll-snap-type: mandatory;
  padding-top: 5vh;
}

.div4 {
  background-color: whitesmoke;
  width: 100%;
  height: max-content;
  scroll-snap-type: mandatory;
  padding-top: 5vh;
}
.div5 {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 50vh;
  scroll-snap-type: mandatory;
  padding-top: 5vh;
  overflow: hidden;
}

.pageHL {
  text-align: center;
}

h1 {
  color: rgba(28, 68, 155, 1);
}

.secondHL {
  margin-top: 1em;
}
.contain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 90vw;
  margin: auto;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mouse {
  width: 40px;
  height: 60px;
  background-color: transparent;
  border: solid 2px white;
  margin: auto;
  margin-bottom: 1em;
  border-radius: 20px;
  justify-self: flex-end;
}
.mouseRoller {
  background-color: transparent;
  border: solid 2px white;
  margin: auto;
  width: 1px;
  height: 15px;
  border-radius: 20px;
  animation: scrolling 1.5s infinite ease-out;
}

@keyframes scrolling {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  70% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 0;
  }
}

.container .button {
  display: block;
  margin: auto;
  margin-top: 2em;
}

.meInfo * {
  margin: 0;
  opacity: 0;
  animation: fade 1s 2s forwards;
}

.meInfo .name {
  font-size: 64px;
}
.meInfo .profession {
  height: 20px;
  font-weight: normal;
}
.meInfo {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  width: 450px;
  min-height: 25vh;
  outline: 4px double white;
  outline-offset: 8px;
  padding: 4em;
  animation: widen 1s forwards linear;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes widen {
  from {
    width: 0;
  }
}

.filters {
  text-align: center;
  width: 500px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 2em;
}
.filter {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: rgba(28, 68, 155, 1);
}

.filter:hover {
  font-weight: bold;
}

.filter.active {
  font-weight: bold;
  text-decoration: underline;
}
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  width: 1200px;
  max-width: 100%;
  margin: auto;
}
/*.content > * {
  width: 100vw;
  height: max-content;
}*/

.project-container {
  margin: 0.7em;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  width: 30%;
  opacity: 0;
  transform-origin: bottom;
  animation: fadeIn 0.3s ease-in forwards;
}

@keyframes fadeIn {
  from {
    transform: scale(0.1);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.project-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 59);
  color: white;
  padding: 1em;
  opacity: 0;
  z-index: 10;
  transition: 0.3s ease-in-out;
}

.project-info h1 {
  color: orange;
  font-size: 16pt;
}
.project-link {
  width: max-content;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  border: solid 2px orange;
  padding-top: 10px;
  background-color: transparent;
  color: white;
  transition: 0.3s ease-in-out;
}

.project-link:hover {
  background-color: orange;
}

.project-bg {
  width: 100%;
  padding-bottom: 66%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.3s;
}

.drawings img {
  display: block;
  height: 200px;
  width: auto;
  margin: 0.5em;
  border-radius: 12px;
}

.drawings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*column-count: 5;*/
  width: 1200px;
  max-width: 100%;
  margin: auto;
  padding: 2em;
}
*/ section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.text {
  display: flex;
  flex-direction: column;
  width: 40%;
}

section.img {
  width: 50%;
}

section.img img {
  max-width: 70%;
  display: block;
  margin: auto;
}

.sec-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}

.button {
  width: max-content;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
}
.button {
  margin-right: 8px;
}
.buttons {
  display: flex;
  margin-top: 1em;
}
.button.proccess {
  border: 1px solid rgba(28, 68, 155, 1);
  color: rgba(28, 68, 155, 1);
}
.button.website {
  border: none;
  padding-top: 10px;
  background-color: rgba(28, 68, 155, 1);
  color: white;
}

.button.website:hover {
  background-color: rgba(28, 68, 155, 0.73);
}
.button.proccess:hover {
  background-color: rgba(28, 68, 155, 0.2);
}

.mail img {
  width: 20px;
  height: auto;
}
.mail {
  font-weight: bold;
  color: black;
  transition: color 0.5s ease-out;
}
.mail:hover {
  color: rgba(28, 68, 155, 1);
}

section.img a {
  max-width: 100%;
  width: 40px;
  height: auto;
  opacity: 0.73;
  margin-left: 1em;
  filter: grayscale(100%);
  transition: all 0.5s ease-out;
}

section.img a:hover {
  opacity: 1;
  filter: grayscale(0%);
}

.icons {
  display: flex;
  justify-content: center;
  padding-right: 0.5em;
}

footer {
  font-size: 12px;
  padding: 1em;
  text-align: center;
}

.div5 .button.website {
  margin-top: 1em;
}

@media all and (max-width: 700px) {
  .project-container {
    width: 90%;
  }

  section.text,
  section.img {
    width: 100%;
  }
  section.text {
    margin-bottom: 2em;
  }
  .previous,
  .next {
    font-size: 2em;
  }

  .meInfo .name {
    font-size: 40px;
  }

  .meInfo .profession {
    font-size: 16px;
  }
  .div1 {
    background-position: right;
  }

  .meInfo {
    max-width: 90%;
    min-height: 30vh;
    padding: 2em;
  }
  img {
    max-width: 100%;
  }
  .div5 {
    min-height: 70vh;
  }
  .div5.contain {
    height: 90vh;
  }
}

@media all and (min-width: 700px) and (max-width: 1000px) {
  .project-container {
    width: 45%;
  }

  section.text,
  section.img {
    width: 100%;
  }
  section.text {
    margin-bottom: 2em;
  }
  .previous,
  .next {
    font-size: 2em;
  }

  .meInfo .name {
    font-size: 40px;
  }

  .meInfo .profession {
    font-size: 16px;
  }
  .div1 {
    background-position: right;
  }

  .meInfo {
    max-width: 90%;
    min-height: 30vh;
    padding: 2em;
  }
  img {
    max-width: 100%;
  }
  .div5 {
    min-height: 70vh;
  }
  .div5.contain {
    height: 90vh;
  }
}